.navbar {
    display: flex;
    background-color: cadetblue;
}

.site-name {
    padding: 5px 30px;
    color: white;
}

.site-menu {
    padding: 10px 30px;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}