<!-- Basic of Angular Interpolation -->
<div id="hero">
  <h1>Hello {{title}} {{version}}</h1>
  <h2 class="{{myclass}}">{{myFunc()}}</h2>
  <button (click)="myClick('Hi')">Click for alert</button>
</div>

<!-- Event in Angular -->
<input type="text" placeholder="keyup event box" #keyup (keyup)="myFuncInput(keyup.value)">
<input type="text" placeholder="keydown event box" #keydown (keydown)="myFuncInput(keydown.value)">
<input type="text" placeholder="input event box" #input (input)="myFuncInput(input.value)">
<input type="text" placeholder="blur event box" #blur (blur)="myFuncInput(blur.value)">
<div (mouseover)="myFuncInput('Hovered')" style="border: 1px solid black; height: 10vh;">Hover Here (mouseover)</div>
<div (mouseleave)="myFuncInput('mouseleave')" style="border: 1px solid black; height: 10vh;">Hover Here(mouseleave)</div>

<!-- Rendering value on UI on Click -->
<input type="text" placeholder="Type here to render below" #box1 >
<button (click)="renderFunc(box1.value)">Click</button>
<p>{{renderVal}}</p>

<!-- Rendering other component on same module (default)-->
<app-header></app-header>

<!-- if-else condition -->
<h1 *ngIf="show; then ifBlock else elseCode"></h1>
<br>
<button (click)="toggle()">Show/Hide</button>
<ng-template #ifBlock>Show</ng-template>
<ng-template #elseCode>Hide</ng-template>

<!-- Multiple else-if with data binding -->

<ng-template [ngIf]="color==='red'">
  <h1 [style.color]="color">{{color}}</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <h1 [style.color]="color">{{color}}</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <h1 [style.color]="color">{{color}}</h1>
</ng-template>

<select name="color" id="color">
  <option value="red" selected #color1 (click) = "colorSwitcher(color1.value)">Red</option>
  <option value="green" #color2 (click) = "colorSwitcher(color2.value)">Green</option>
  <option value="blue" #color3 (click) = "colorSwitcher(color3.value)">Blue</option>
</select>

<!-- Switch Case in Angular with ngStyle -->
<div [ngSwitch]="color">
  <h1 *ngSwitchDefault>Unknown</h1>
  <h1 *ngSwitchCase="'red'" [ngStyle]={color:color}>{{color}}</h1>
  <h1 *ngSwitchCase="'green'" [ngStyle]={color:color}>{{color}}</h1>
  <h1 *ngSwitchCase="'blue'" [ngStyle]={color:color}>{{color}}</h1>
</div>

<!-- For Loop in Angular -->
<ul>
  <li *ngFor="let value of colorList">{{value}}</li>
</ul>

<!-- Angular Form -->
<form #form1="ngForm" (submit)="getFormData(form1.value)">
  <input type="text" ngModel name="name" id="name" placeholder="Enter Your Name" />
  <button>Submit</button>
</form>

